<!-- Footer-->
      <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © abc company.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Design & Develop by abcd.
                                </div>
                            </div>
                        </div>
                    </div>
      </footer>
<!-- End Footer -->