{% extends 'Base.html' %}
{% block content %}
{% load static %}
<style>
img{
    max-width: 100%;
    max-height: 100%;
}

.card-container {
	margin: auto; /* center the element within the container */
	width: 347px;
	border-style: solid;
}
.companyLogo{
	margin:auto;
	padding-left:36px;
	width:300px;
	height:80px;
}
.companyLogo img{
	margin:auto;
}
.employeeAvatar{
	margin:auto;
	height: 150px;
	width: 150px;
}
.employeeAvatar img{
	border-radius: 50%;
}
.employeeName{
	padding-top:8px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
span.name{
	font-size: 20px;
	text-transform: uppercase;
}
.employeeInformation{
	margin: auto;
	text-align: center;
	font-size: 16px;
}
 hr.divider {
  margin: 5px;
  border-width: 2px;
}
</style>
<div class="row">
    {%for details in data %}
    <h2 style="text-align:center">Client Profile Card</h2>
            <!--<h2 style="text-align:center">ID NUMBER :0001</h2>-->
            <!--<img src="{% static 'assets/images/users/avatar-2.jpg' %}"id="sample" class="image" alt="" style="width: 462px;" />-->
    <div class="card-container">
        <div class="companyLogo">
            <!--<img src="images/company_logo.png" alt="logo of the company">-->
        </div>
        <div class="employeeAvatar">
            <img src="{% static 'assets/images/users/avatar-2.jpg' %}"id="sample" class="image" alt="" style="width: 462px;" alt="employee image">
        </div>
        <div class="employeeName">
            <div>
                <span class="name"><strong>{{details.CLIENT_NAME}}</strong></span>
            </div>
            <div>
                <span class="designation">{{details.CLIENT_CODE}}</span>
            </div>
        </div>
        <hr class="divider" />
        <div class="employeeInformation">
            <div>
                <span class="emp-info">{{details.CONTACT_NO}}</span>
            </div>
            <div>
               <span class="emp-info">{{details.EMAIL}}</span>
            </div>
            <!--<div>
               <span class="emp-info">www.examplesite.com</span>
            </div>-->
            <div>
               <span class="emp-info">{{details.ADDRESS}}</span>
            </div>
        </div>
    </div>
    <div class="d-print-none">
        <div class="float-end">
            <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1" ONCLICK="printDiv(printable_area)"><i class="fa fa-print"></i></a>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}