{% extends 'Base.html' %}
{% block content %}

<!-- end page title -->
        {% if 'New_Client_Req' in request.session  %}
             <div class="alert alert-danger" role="alert">
                {{ request.session.New_Client_Req }}
                <br>
                {{ request.session.New_Client_Code }}
             </div>
        {% endif %}
<div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <u><h4 class="mb-sm-0 font-size-18" style="color: #d20f0f"> Update Daily Attendance</h4></u>
             </div>
        </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-2">

                </div>
                <div class="col-lg-6 col-md-8 login-box">
                    <div class="col-lg-12 login-title">

                    </div>
                    <div class="col-lg-12 login-form">
                        <div class="col-lg-12 login-form">
                            <form action="{% url 'Edit_Daily_Attendance' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {%for details in data %}
                                <div class="form-group">
                                <input type="text" class="form-control" value="{{details.EMP_CODE}}"  name="emp_code" hidden>
                                </div>
                                <div class="form-group">
                                <label class="form-control-label">In Time</label>
                                <input type="time" class="form-control" value="{{details.IN_TIME}}" name="in_time" required>
                                </div>
                                <div class="form-group">
                                <label class="form-control-label">Out Time</label>
                                <input type="time" class="form-control" value="{{details.OUT_TIME}}" name="out_time" required>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" id="datepicker1">
                                        <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                            data-date-format="yyyy-MM-dd" data-date-container='#datepicker1' data-provide="datepicker" name="last_update_date"  data-date-autoclose="true" autocomplete="off" value="{{details.ATTENDANCE_DATE}}"  hidden>
                                    </div>
                                </div>
                                {% ifequal details.ATTENDANCE_STATUS 'present' %}
                                   <div class="form-group">
                                    <label>Attendance Status</label><code>*</code>
                                    <select class="form-control " name="leave_category" required >
                                        <option value="present" selected>PRESENT</option>
                                        <option value="absent">ABSENT</option>
                                        <option value="leave">LEAVE</option>
                                    </select>
                                   </div>
                                {% endifequal %}
                                 {% ifequal details.ATTENDANCE_STATUS 'absent' %}
                                    <div class="form-group">
                                        <label>Attendance Status</label><code>*</code>
                                        <select class="form-control " name="leave_category" required >
                                            <option value="present" >PRESENT</option>
                                            <option value="absent" selected>ABSENT</option>
                                            <option value="leave">LEAVE</option>
                                        </select>
                                    </div>
                                 {% endifequal %}
                                {% ifequal details.ATTENDANCE_STATUS 'leave' %}
                                   <div class="form-group">
                                    <label>Attendance Status</label><code>*</code>
                                    <select class="form-control " name="leave_category" required >
                                        <option value="present" >PRESENT</option>
                                        <option value="absent">ABSENT</option>
                                        <option value="leave" selected>LEAVE</option>
                                    </select>
                                   </div>
                                {% endifequal %}
                                <br>
                                <div class="form-group float-end">
                                    <button class="btn btn-primary account-btn" type="submit" name="submit" >UPDATE</button>
                                </div>
                            </form>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2">
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}