{% extends 'Base.html' %}
{% block content %}
<!-- start page title -->
<style>
    /* Hide all steps by default: */
    .tab {
      display: none;
  }
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
      background-color: #ffdddd;
  }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Edit Employee Register</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
           <form   id="regForm"   method="post" class="custom-validation">
               {% csrf_token %}
               {%for details in data %}
               <div class="tab1" >
                <h4  class="card-title mb-4">Company Details :</h4>
                {% for message_value in error %}
                <b style="color:red">{{message_value}}<code>*</code>,</b>
                {% endfor %}
                <hr>
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <input type="text" class="form-control" value="{{details.EMP_CODE}}" name="emp_hidden_code" hidden>
                    <div  class="mb-0 col-lg-4">
                        <label>CLIENT</label>
                        <select class="form-control select2" name ="client" id="selectclient">
                           <option></option>
                           {% for item in client %}
                           <option value="{{ item }}" {% if item == details.EMP_COMPANY.CLIENT %}selected="selected"{% endif %}> {{ item }} </option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="mb-0 col-lg-4">
                    <label>COUNTRY</label>
                    <select class="form-control select2" name ="country" id="selectcountries"  autocomplete="off">
                       <option value="{{details.EMP_COMPANY.COUNTRY}}">{{details.EMP_COMPANY.COUNTRY}}</option>
                   </select>
               </div>

               <div  class="mb-0 col-lg-4">
                <label>STATE</label>
                <select class="form-control select2" name ="company_state" id="selectstate">
                   <option value="{{details.EMP_COMPANY.STATE}}">{{details.EMP_COMPANY.STATE}}</option>
               </select>
           </div>

           <div  class="mb-0 col-lg-4">
            <label>DISTRICT</label>
            <select class="form-control select2" name ="company_district" id="selectcity">
                <option value="{{details.EMP_COMPANY.DISTRICT}}">{{details.EMP_COMPANY.DISTRICT}}</option>
            </select>
        </div>
        <div  class="mb-0 col-lg-4">
            <label>BRANCH</label>
            <select class="form-control select2" name ="branch" id="selectbranch">
                <option value="{{details.EMP_COMPANY.BRANCH}}">{{details.EMP_COMPANY.BRANCH}}</option>
            </select>
        </div>


        <div  class="mb-0 col-lg-4">
            <label>AREA</label>
            <select class="form-control select2" name ="area" id="selectarea">
                <option value="{{details.EMP_COMPANY.AREA}}">{{details.EMP_COMPANY.AREA}}</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label>UNIT</label>
            <select class="form-control select2" name ="unit" id="selectunit">
                <option value="{{details.EMP_COMPANY.UNIT}}">{{details.EMP_COMPANY.UNIT}}</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Bio-Data Submission Date</label>
            <div class="input-group" id="datepicker1">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoclose="true" autocomplete="off" name="bdsb" value="{{details.EMP_COMPANY.BIO_DATE_SUB_DATE}}" >

                <span class="input-group-text"><i class="mdi mdi-calendar" ></i></span>
            </div>
        </div>
        <div class="mb-3 col-lg-4">
            <label>Category</label>
            <select class="form-control select2" name="category">
                <option value="">Select One</option>
                <option value="AK" {% if details.EMP_COMPANY.CATEGORY == "AK" %}selected="selected"{% endif %}>Alaska</option>
                <option value="HI" {% if details.EMP_COMPANY.CATEGORY == "HI" %}selected="selected"{% endif %}>Hawaii</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Issue Date</label>
            <div class="input-group" >
                <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="issue_date" data-date-autoclose="true" autocomplete="off" value="{{details.EMP_COMPANY.ISSUE_DATE}}" >

                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div><!-- input-group -->
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Valid Date</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoclose="true" autocomplete="off" name="valid_date"  value="{{details.EMP_COMPANY.VAILD_DATE}}">

                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div class="tab">
    <h4  class="card-title mb-4">EMPLOYEE DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">

        <div  class="mb-3 col-lg-4">
            <label>Salutation</label>
            <select class="form-control" name ="salutation">
                <option value="">Select One</option>
                <option value="mr" {% if details.NEW_EMP.SALUTATION == "mr" %}selected="selected"{% endif %}>MR</option>
                <option value="mrs" {% if details.NEW_EMP.SALUTATION == "mrs" %}selected="selected"{% endif %}>MRS</option>
            </select>

        </div>
        <div  class="mb-3 col-lg-4">
            <label>DATE OF JOIN</label><code>*</code>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoclose="true" autocomplete="off" name="doj" value="{{details.EMP_COMPANY.DATE_OF_JOIN}}">
 
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div><!-- input-group -->
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Name</label>
            <input type="text" class="form-control" value="{{details.NEW_EMP.EMP_NAME}}" name ="employee_name" placeholder="Enter First Name"  autocomplete="off"/>
        </div>
        <div class="mb-3 col-lg-4">
            <label>Designation</label>
            <select class="form-control select2" name ="designation"   autocomplete="off">
                <option></option>
                {%for design in designation_list %}
                <option value="{{ design.DESIGNATION }}" {% if design.DESIGNATION == details.EMP_COMPANY.DESIGNATION %}selected="selected"{% endif %}> {{ design.DESIGNATION }} </option>
                {% endfor %}
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label>DATE OF BIRTH</label><code>*</code>
            <div class="input-group" id="datepicker1">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoclose="true" autocomplete="off" name="dob" value="{{ details.NEW_EMP.DOB }}">

                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div><!-- input-group -->
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Marital Status</label>
            <select class="form-control" name="marital_status">
                <option value="">Select One</option>
                <option value="Married" {% if details.NEW_EMP.MARITAL_STATUS == "Married" %}selected="selected"{% endif %}>Married</option>
                <option value="single" {% if details.NEW_EMP.MARITAL_STATUS == "single" %}selected="selected"{% endif %}>single</option>
                <option value="divorced" {% if details.NEW_EMP.MARITAL_STATUS == "divorced" %}selected="selected"{% endif %}>divorced</option>
                <option value="widowed" {% if details.NEW_EMP.MARITAL_STATUS == "widowed" %}selected="selected"{% endif %}>widowed </option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Gender</label>
            <select class="form-control" name="gender">
                <option value="">Select One</option>
                <option value="male" {% if details.NEW_EMP.GENDER == "male" %}selected="selected"{% endif %}>Male</option>
                <option value="female" {% if details.NEW_EMP.GENDER == "female" %}selected="selected"{% endif %}>Female</option>
                <option value="transgender" {% ifequal details.NEW_EMP.GENDER  'transgender' %}selected="selected"{% endifequal %}>Transgender</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">CONTACT NO</label><code>*</code>
            <input type="text" class="form-control"   name ="contact_no" placeholder="Contact no"  autocomplete="off" value="{{ details.NEW_EMP.MOBILE_NO }}" />
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Age</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" name ="age" placeholder="Enter Your Age" autocomplete="off" value="{{ details.NEW_EMP.AGE }}" />
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Experience</label>
            <input type="text" class="form-control"  data-parsley-minlength="1" name ="experiance" placeholder="Enter Your Experiance" autocomplete="off" value="{{ details.NEW_EMP.EXPERIANCE }}" />
        </div>
    </div>
</div>
<div class="tab">
    <h4  class="card-title mb-4">EMPLOYEE PERSONAL DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >Wife/Husband Name</label>
            <input class="form-control" type="text" value="{{details.EMP_PER.WIFE_HUSBAND_NAME}}"  name="wife_husband"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Father Name</label>
            <input class="form-control" type="text" value="{{details.EMP_PER.FATHER_NAME}}"  name="father_name"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >Mother Name</label>
            <input class="form-control" type="text" value="{{details.EMP_PER.MOTHER_NAME}}"  name="mother_name"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Highest Education</label>
            <select class="form-control" name="higher_edu">
                <option value="">Select One</option>
                <option value="sslc" {% ifequal details.EMP_PER.HIGHEST_EDUCATION  'sslc' %}selected="selected"{% endifequal %}>SSLC</option>
                <option value="hsc" {% ifequal details.EMP_PER.HIGHEST_EDUCATION  'hsc' %}selected="selected"{% endifequal %}>HSC</option>
                <option value="ug" {% ifequal details.EMP_PER.HIGHEST_EDUCATION  'ug' %}selected="selected"{% endifequal %}>UG</option>
                <option value="pg" {% ifequal details.EMP_PER.HIGHEST_EDUCATION  'pg' %}selected="selected"{% endifequal %}>PG</option>
                <option value="diploma" {% ifequal details.EMP_PER.HIGHEST_EDUCATION  'diploma' %}selected="selected"{% endifequal %}>DIPLOMA</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >Birth Place</label>
            <input class="form-control" type="text" value="{{details.EMP_PER.BIRTH_PLACE}}"  name="birth_place"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Nationality</label>
            <input class="form-control" type="text" value="{{details.EMP_PER.NATIONALITY}}"
            name="nationality"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label>Blood Group</label>
            <select class="form-control" name="blood_group">
                <option value="">Select One</option>
                <option value="b_passtive" {% ifequal details.EMP_PER.BLOOD_GROUP  'b_passtive' %}selected="selected"{% endifequal %}>B+</option>
                <option value="a_passtive" {% ifequal details.EMP_PER.BLOOD_GROUP  'a_passtive' %}selected="selected"{% endifequal %}>A+</option>
                <option value="ab_passtive" {% ifequal details.EMP_PER.BLOOD_GROUP  'ab_passtive' %}selected="selected"{% endifequal %}>AB+</option>
                <option value="o_passtive" {% ifequal details.EMP_PER.BLOOD_GROUP  'o_passtive' %}selected="selected"{% endifequal %}>O+</option>
            </select>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Shoe Size</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.SHOE_SIZE}}" name ="shoe_size" placeholder="Enter Shoe Size" autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Waist</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.WAIST}}" name ="waist" placeholder="Enter Waist"  autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Height</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.HEIGHT}}" name ="height" placeholder="Enter Height" autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Weight</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.WEIGHT}}" name ="weight" placeholder="Enter Weight" autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Chest</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.CHEST}}" name ="chest" placeholder="Enter Chest" autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">T-Shirt Size</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.T_SHIRT_SIZE}}" name ="t_shirt" placeholder="Enter T-Shirst Size" autocomplete="off"/>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Trouser Size</label>
            <input type="number" class="form-control"  data-parsley-minlength="1" value="{{details.EMP_PER.THOUSER_SIZE}}" name ="thouser_size" placeholder="Enter Thouser Size" autocomplete="off"/>
        </div>
    </div>
</div>
<div class="tab">
    <h4  class="card-title mb-4">EMPLOYEE CONFIDENTIAL DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">PAN NO</label><code>*</code>
            <input class="form-control" type="text"   name="pan_no" autocomplete="off" value="{{details.EMP_PER.PAN_NO}}">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >PF No</label>
            <input class="form-control" type="text"   name="pf_no" autocomplete="off" value="{{details.EMP_PER.PF_NO}}">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >ESI No</label>
            <input class="form-control" type="text"   name="esi_no" autocomplete="off" value="{{details.EMP_PER.ESI_NO}}">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input">Aadhar No</label>
            <input class="form-control" type="text"   name="aadhar_no" autocomplete="off" value="{{details.EMP_PER.AADHAR_NO}}">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >UAN No</label>
            <input class="form-control" type="text"  name="uan_no" autocomplete="off" value="{{details.EMP_PER.UAN_NO}}">
        </div>

        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >ID CARD NO</label><code>*</code>
            <input class="form-control" type="text" value="{{details.EMP_PER.ID_CARD_NO}}"
            name="id_card_no" autocomplete="off">
        </div>
    </div>
</div>
<div class="tab">
    <h4  class="card-title mb-4">EMPLOYEE BANK DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">
     <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >Account No</label>
        <input class="form-control" type="text" value="{{details.EMP_BANK.ACCOUNT_NO}}"  autocomplete="off" name="bank_account_no">
    </div>
    <div  class="mb-3 col-lg-4">
        <label>Bank Name</label>
        <select class="form-control" name="bank_name">
            <option></option>
            {% for item in bank_list %}
            <option value="{{ item.BANK_NAME }}" {% if item.BANK_NAME == details.EMP_BANK.BANK_NAME %}selected="selected"{% endif %}> {{ item.BANK_NAME }} </option>
            {% endfor %}
        </select>
    </div>
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >IFSC Code</label>
        <input class="form-control" type="text" value="{{details.EMP_BANK.IFSC_CODE}}"  name="ifsc_code" autocomplete="off">
    </div>
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input">Branch</label>
        <input class="form-control" type="text" value="{{details.EMP_BANK.BRANCH}}"  name="bank_branch" autocomplete="off">
    </div>
    <div  class="mb-3 col-lg-4">
        <label>Payment Mode</label>
        <select class="form-control" name="payment_mode">
            <option value="">Select One</option>
            <option value="online" {% ifequal details.EMP_BANK.PAYMENT_MODE  'online' %}selected="selected"{% endifequal %}>ONLINE</option>
            <option value="cash" {% ifequal details.EMP_BANK.PAYMENT_MODE  'cash' %}selected="selected"{% endifequal %}>CASH</option>
            <option value="cheque" {% ifequal details.EMP_BANK.PAYMENT_MODE  'cheque' %}selected="selected"{% endifequal %}>CHEQUE</option>
        </select>
    </div>
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >Passbook Name</label>
        <input class="form-control" type="text" value="{{details.EMP_BANK.PASSBOOK_NAME}}" id="example-text-input" name="passbook_name" autocomplete="off">
    </div>
</div>
<h5 >EMPLOYEE JOIN ACCOUNT DETAILS :</h5>
<hr>
<div class="row row-cols-lg-auto g-3 align-items-center">
  <div  class="mb-3 col-lg-4">
      <label for="example-text-input" >Join Account No</label>
      <input class="form-control" type="text" value="{{details.EMP_BANK.JOIN_ACC_NO}}"  name="join_acc_no" autocomplete="off" >
  </div>
  <div  class="mb-3 col-lg-4">
    <label for="example-text-input">Join Account Bank Name</label>
    <input class="form-control" type="text" value="{{details.EMP_BANK.JOIN_ACC_BANK_NAME}}"  name="join_acc_bank_name"  autocomplete="off" >
</div>
<div  class="mb-3 col-lg-4">
  <label for="example-text-input" >Join Account Name</label>
  <input class="form-control" type="text" value="{{details.EMP_BANK.JOIN_ACC_NAME}}"  name="join_acc_name"  autocomplete="off">
</div>
<div  class="mb-3 col-lg-4">
    <label for="example-text-input" >Join Account Branch Name</label>
    <input class="form-control" type="text" value="{{details.EMP_BANK.JOIN_ACC_BRANCH_NAME}}"  name="join_acc_br_name" autocomplete="off">
</div>
</div>
<hr>
</div>
<div class="tab">
    <h4  class="card-title mb-4">COMMUNICATION DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div  class="mb-3 col-lg-4">
            <label>Address</label>
            <textarea  class="form-control"  name ="address" rows="1" id="address_value" autocomplete="off" oninput="changeinput()">{{details.EMP_COMM.ADDRESS}}</textarea>
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >Street</label>
            <input class="form-control" type="text" id="street_value" value="{{details.EMP_COMM.STREET}}" oninput="changeinput()"  name="street" autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label>District</label>
            <input class="form-control" type="text" id="district_value" value="{{details.EMP_COMM.DISTRICT}}" oninput="changeinput()"  name="district" autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >PIN-Code</label>
            <input class="form-control" type="number" value="{{details.EMP_COMM.PINCODE}}" id="pin_code_value" autocomplete="off" name="pin_code" oninput="changeinput()">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >Telephone</label>
            <input class="form-control" type="number" value="{{details.EMP_COMM.TELEPHONE}}"  name="telephone"  autocomplete="off">
        </div>
        <div  class="mb-3 col-lg-4">
            <label for="example-text-input" >MOBILE NO</label><code>*</code>
            <input class="form-control" type="text"   name="mobile_no"  autocomplete="off" value="{{details.EMP_COMM.MOBILE_NO}}">
        </div>
        <div  class="mb-3 col-lg-4">
         <label for="example-text-input" >Email Id</label>
         <input class="form-control" type="email" value="{{details.EMP_COMM.EMAIL_ID}}"  name="email_id" autocomplete="off">
     </div>
     <div  class="mb-3 col-lg-4">
        <label>Duration</label>
        <div class="input-group" id="datepicker1">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd"
            data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="duration" id="duration_value" oninput="changeinput()" data-date-autoclose="true" autocomplete="off" value="{{details.EMP_COMM.DURATION}}">

            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
        </div><!-- input-group -->
    </div>
    <div  class="mb-3 col-lg-4">
     <label>State</label>
     <input class="form-control" type="text" value="{{details.EMP_COMM.STATE}}" id="state_value" oninput="changeinput()" name="state" autocomplete="off">
 </div>

</div>
<h4  class="card-title mb-4">PERMANENT ADDRESS :</h4>
<input type="checkbox" id="switch3" switch="bool" name="permanet_address"/>
<label for="switch3" data-on-label="Yes" data-off-label="No" onclick="SameAdress()"></label> Same As Above
<hr>
<div class="row row-cols-lg-auto g-3 align-items-center">
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >Address</label>
        <textarea  class="form-control"  id="per_address_value" name ="per_address" rows="1" autocomplete="off">{{details.EMP_COMM.PER_ADDRESS}}</textarea>
    </div>
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >Street</label>
        <input class="form-control" type="text" value="{{details.EMP_COMM.PER_STREET}}" id="per_street_value"  name="per_street" autocomplete="off">
    </div>
    <div  class="mb-3 col-lg-4">
        <label>District</label>
        <input class="form-control" type="text" value="{{details.EMP_COMM.PER_DISTRICT}}" id="per_district_value"  name="per_district" autocomplete="off">
    </div>
    <div  class="mb-3 col-lg-4">
        <label>Duration</label>
        <div class="input-group" id="datepicker1">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd"
            data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="per_duration" id="per_duration_value" data-date-autoclose="true" autocomplete="off"  value="{{details.EMP_COMM.PER_DURATION}}">
            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
        </div><!-- input-group -->
    </div>
    <div  class="mb-3 col-lg-4">
        <label for="example-text-input" >PIN-Code</label>
        <input class="form-control" type="number" name="per_pin_code" id="per_pin_code_value" autocomplete="off" value="{{details.EMP_COMM.PER_PINCODE}}">
    </div>
    <div  class="mb-3 col-lg-4">
     <label>State</label>
     <input class="form-control" type="text" value="{{details.EMP_COMM.PER_STATE}}" id="per_state_value"  name="per_state" autocomplete="off">
 </div>
</div>
</div>
<div class="tab">
    <h4  class="card-title mb-4">EMPLOYEE POLICE VERIFICATION DETAILS :</h4>
    <hr>
    <div class="row row-cols-lg-auto g-3 align-items-center">
     <div  class="mb-0 col-lg-4">
         <label for="example-text-input" >Verification No</label>
         <input class="form-control" type="text" value="{{details.VERFICATION_NO}}" name="verification_no" autocomplete="off" required>
     </div>
     <div  class="mb-0 col-lg-4">
         <label>Verification Date</label>
         <div class="input-group" id="datepicker1">
             <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="verification_date" data-date-autoclose="true" autocomplete="off"  value="{{details.VERFICATION_DATE}}">

             <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
         </div><!-- input-group -->
     </div>
     <div  class="mb-0 col-lg-4">
         <label for="example-text-input" >Criminology</label>
         <input class="form-control" type="text" value="{{details.CRIMINOLOGY}}"  name="criminology" autocomplete="off" required>
     </div>
     <div  class="mb-0 col-lg-4">
         <label>Pv Send Date</label>
         <div class="input-group" id="datepicker1">
             <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_send_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_SEND_DATE}}">

             <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
         </div><!-- input-group -->
     </div>
     <div  class="mb-0 col-lg-4">
         <label>Pv Return Date</label>
         <div class="input-group" id="datepicker1">
             <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_return_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_RETURN_DATE}}">
             <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
         </div><!-- input-group -->
     </div>
     <div  class="mb-0 col-lg-4">
         <label for="example-text-input">Name Of Police Thana</label>
         <input class="form-control" type="text" value="{{details.NAME_OF_POLICE_THANA}}"  name="name_of_police_thana" autocomplete="off">
     </div>
     <div  class="mb-0 col-lg-4">
         <label for="example-text-input">Identity Sign</label>
         <input class="form-control" type="text" value="{{details.IDENTITY_SIGN}}" name="identity_sign" autocomplete="off">
     </div>
     <div  class="mb-0 col-lg-4">
         <label>Pv Valid Date</label>
         <div class="input-group" id="datepicker1">
             <input type="text" class="form-control" placeholder="yyyy-mm-dd"
             data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_valid_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_VALID_UPTO}}">
             <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
         </div><!-- input-group -->
     </div>
     <div  class="mb-0 col-lg-4">
         <label for="example-text-input" >Remark By Thana</label>
         <textarea  class="form-control" maxlength="500" name ="remark_by_thana" rows="1" autocomplete="off">{{details.REMARK_BY_THANA}}</textarea>
     </div>
 </div>
</div>
<hr>
{%endfor%}
<div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" class="btn btn-primary waves-effect waves-light  "onclick="nextPrev(-1)" >Previous</button>
      <button type="button" id="nextBtn" class="btn btn-primary waves-effect waves-light " onclick="nextPrev(1)" >Next</button>
  </div>
</div>
<div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
</div>

</form>

</div>
<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
      // This function will display the specified tab of the form...
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";
      //... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
    } else {
        document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Update";
    } else {
        document.getElementById("nextBtn").innerHTML = "Next";
    }
      //... and run a function that will display the correct step indicator:
      fixStepIndicator(n)
  }

  function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form...
      if (currentTab >= x.length) {
        // ... the form gets submitted:

        document.getElementById("regForm").submit();
        return false;
    }
      // Otherwise, display the correct tab:
      showTab(currentTab);
  }

  function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      x = document.getElementsByClassName("tab");
      y = x[currentTab].getElementsByTagName("input");
      // A loop that checks every input field in the current tab:
      for (i = 0; i < y.length; i++) {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:

          y[i].className += " invalid";
          // and set the current valid status to false
          valid = false;
      }
  }
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
    }
      return true; // return the valid status
  }

  function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
    }
      //... and adds the "active" class on the current step:
      x[n].className += " active";
  }
</script>
<script>
 function SameAdress()
 {
    var input =document.getElementById('switch3').checked;
    if(input==false)
    {
      var address=document.getElementById('address_value').value;
      var street=document.getElementById('street_value').value;
      var district=document.getElementById('district_value').value;
      var pin_code=document.getElementById('pin_code_value').value;
      var duration=document.getElementById('duration_value').value;
      var state=document.getElementById('state_value').value;

      document.getElementById('per_address_value').value=address;
      document.getElementById('per_street_value').value=street;
      document.getElementById('per_district_value').value=district;
      document.getElementById('per_pin_code_value').value=pin_code;
      document.getElementById('per_duration_value').value=duration;
      document.getElementById('per_state_value').value=state;
  }
  else
  {
      document.getElementById('per_address_value').value="";
      document.getElementById('per_street_value').value="";
      document.getElementById('per_district_value').value="";
      document.getElementById('per_pin_code_value').value="";
      document.getElementById('per_duration_value').value="";
      document.getElementById('per_state_value').value="";

  }
}
function changeinput()
{
   var input =document.getElementById('switch3').checked;
   if(input==true)
   {

      var address=document.getElementById('address_value').value;
      var street=document.getElementById('street_value').value;
      var district=document.getElementById('district_value').value;
      var pin_code=document.getElementById('pin_code_value').value;
      var duration=document.getElementById('duration_value').value;
      var state=document.getElementById('state_value').value;


      document.getElementById('per_address_value').value=address;
      document.getElementById('per_street_value').value=street;
      document.getElementById('per_district_value').value=district;
      document.getElementById('per_pin_code_value').value=pin_code;
      document.getElementById('per_duration_value').value=duration;
      document.getElementById('per_state_value').value=state;
  }
}
</script>           <!-- end card body -->
</div>
<!-- end card -->
</div>
<!-- end row -->
{% endblock %}
