{% extends 'Base.html' %}
{% block content %}
   <!-- start page title -->
    {% load static %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Employee Police Verification Details</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

        {% if 'UPDATE_EMP_PERSONAL_DETAILS' in request.session  %}
             <div class="alert alert-danger" role="alert">
                {{ request.session.UPDATE_EMP_VERIFICATION_DETAILS }}
             </div>
        {% endif %}

        {% block update_messages %}
             {% if update_messages %}
                 <div class="alert alert-danger" role="alert">
                     {{ update_messages }}
                </div>
             {% endif %}
        {% endblock %}
     <div class="row">
        <div class="card">
            <div class="card-body">
                <form class="row row-cols-lg-auto g-3 align-items-center" method="POST" >
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-check-label">Search Employee:</label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio1" value="emp_no" required>
                            <label class="form-check-label" for="inlineRadio1">Emp Code.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="search_type" id="inlineRadio2" value="emp_name" required>
                            <label class="form-check-label" for="inlineRadio2">Employee Name.</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                           <input type="text" class="form-control" id="inlineFormInputGroupUsername" name ="emp_code" placeholder="Enter Emp Code" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-md" name="GetData" value="GetData">GetData</button>
                    </div>
                </form>
                <hr>
                <form method="post" class="custom-validation" enctype="multipart/form-data">
                    {% csrf_token %}

                    {%for details in data %}
                     <div class="row row-cols-lg-auto g-3 align-items-center">

                            <div class="mb-1 col-lg-6">
                                <b>Employee-Code : </b> <label> &nbsp;{{details.NEW_EMP.EMP_CODE}}</label>
                            </div>
                            <div class="mb-1 col-lg-6">
                                <b>Employee Name : </b> <label> &nbsp; {{details.NEW_EMP.EMP_NAME}}</label>
                            </div>
                    </div>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="mb-1 col-lg-6">
                                <b>Father Name : </b> <label> &nbsp; {{details.EMP_PER.FATHER_NAME}}</label>
                            </div>
                            <div class="mb-1 col-lg-6">
                                <b>DOB : </b> <label> &nbsp; {{details.NEW_EMP.DOB}}</label>
                            </div>
                    </div>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="mb-1 col-lg-6">
                                <b>Present Address : </b> <label> &nbsp; {{details.EMP_COMM.ADDRESS}}</label>
                            </div>
                            <div class="mb-1 col-lg-6" no select>
                                <b>Permanent Address: </b> <label> &nbsp; {{details.EMP_COMM.PER_ADDRESS}}</label>
                            </div>
                    </div>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="mb-1 col-lg-6">
                                <b>PV Renewal Date : </b> <label> &nbsp; {{details.PV_VALID_UPTO}}</label>
                            </div>
                           <div class="mb-1 col-lg-6">
                                <b>Date Of Joining : </b> <label> &nbsp; {{details.EMP_COMPANY.DATE_OF_JOIN}}</label>
                            </div>

                    </div>
                    <div class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="mb-1 col-lg-6">
                                <b>Contact No : </b> <label> &nbsp; {{details.NEW_EMP.MOBILE_NO}}</label>
                            </div>
                           <div class="mb-1 col-lg-6">
                                <b>AGE : </b> <label> &nbsp; {{details.NEW_EMP.AGE}}</label>
                            </div>

                    </div>
                     <div class="row row-cols-lg-auto g-3 align-items-center">
                            <div class="mb-1 col-lg-6">
                                <b>District : </b> <label> &nbsp; {{details.EMP_COMM.DISTRICT}}</label>
                            </div>
                             <div class="mb-1 col-lg-6">
                                <b>State : </b> <label> &nbsp; {{details.EMP_COMM.STATE}}</label>
                            </div>

                    </div>
                    <hr>

                     <input  type="text" name="emp_hidden_code" value="{{details.EMP_COMPANY.EMP_CODE}}" hidden>
                        <div class="row row-cols-lg-auto g-3  align-items-center">

                            <div  class="mb-0 col-lg-4">
                                <label for="example-text-input" >Verification No</label><code>*</code>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="{{details.VERFICATION_NO}}" id="" name="verification_no" autocomplete="off" required>
                                </div>
                            </div>
                            <div  class="mb-0 col-lg-4">
                                <label>Verification Date</label><code>*</code>
                                <div class="input-group" id="datepicker1">
                                    <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                        data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="verification_date" data-date-autoclose="true" autocomplete="off"  value="{{details.VERFICATION_DATE}}" required>

                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div><!-- input-group -->
                            </div>
                            <div  class="mb-0 col-lg-4">
                                <label for="example-text-input" >Criminology</label><code>*</code>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="{{details.CRIMINOLOGY}}" id="" name="criminology" autocomplete="off" required>
                                </div>
                            </div>
                              <div  class="mb-0 col-lg-4">
                                <label>Pv Send Date</label><code>*</code>
                                <div class="input-group" id="datepicker1">
                                    <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                        data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_send_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_SEND_DATE}}" required>

                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div><!-- input-group -->
                            </div>
                              <div  class="mb-0 col-lg-4">
                                <label>Pv Return Date</label><code>*</code>
                                <div class="input-group" id="datepicker1">
                                    <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                        data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_return_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_RETURN_DATE}}" required>
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div><!-- input-group -->
                            </div>
                            <div  class="mb-0 col-lg-4">
                                <label for="example-text-input" >Name Of Police Thana</label><code>*</code>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="{{details.NAME_OF_POLICE_THANA}}" id="" name="name_of_police_thana" autocomplete="off" required>
                                </div>
                            </div>
                             <div  class="mb-0 col-lg-4">
                                <label for="example-text-input" >Identity Sign</label><code>*</code>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" value="{{details.IDENTITY_SIGN}}" id="" name="identity_sign" autocomplete="off" required>
                                </div>
                            </div>
                             <div  class="mb-0 col-lg-4">
                                <label>Pv Valid Date</label><code>*</code>
                                <div class="input-group" id="datepicker1">
                                    <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                        data-date-format="yyyy-mm-dd" data-date-container='#datepicker1' data-provide="datepicker" name="pv_valid_date" data-date-autoclose="true" autocomplete="off"  value="{{details.PV_VALID_UPTO}}" required>
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div><!-- input-group -->
                            </div>
                        </div>
                    <BR>
               <div class="row row-cols-lg-auto g-3 align-items-center">
                             <div  class="mb-3 col-lg-4">
                                <label for="example-text-input" >Remark By Thana</label><code>*</code>
                                <div class="col-md-10">
                                    <textarea id="textarea" class="form-control" maxlength="500" name ="remark_by_thana" rows="3" autocomplete="off">{{details.REMARK_BY_THANA}}</textarea>
                                </div>
                            </div>

                        </div>
                    <br>
                    <center>
                        <div class="center">
                            <button type="submit" class="btn btn-primary waves-effect waves-light" name="GetData" value="UPDATE">
                                UPDATE
                            </button>
                        </div>
                    </center>
                {%endfor%}
                </form>
            </div>

            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>

    <!-- end row -->

{% endblock %}