<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>Search For Students</title>
  <style type="text/css">
    .navbar .megamenu {
      padding: 1rem;
      text-decoration: none;
    }

    .megamenu a {
      text-decoration: none;
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {

      .navbar .has-megamenu {
        position: static !important;
      }

      .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
      }

    }

    /* ============ desktop view .end// ============ */


    /* ============ mobile view ============ */
    @media(max-width: 991px) {

      .navbar.fixed-top .navbar-collapse,
      .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
      }
    }

    /* ============ mobile view .end// ============ */
  </style>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      /////// Prevent closing from click inside dropdown
      document.querySelectorAll('.dropdown-menu').forEach(function (element) {
        element.addEventListener('click', function (e) {
          e.stopPropagation();
        });
      })
    });
            // DOMContentLoaded  end
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:25px;padding-right:25px">
    <a class="navbar-brand" href="adminpanel">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="student_registeration">Registeration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search_students">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="fees_collection">Fees Collection</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="padding:20px;">

    <div style="margin-top: 0px;">
      {%if admno%}
      <h1></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Admno</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Roll</th>
            <th scope="col">Gender</th>
            <th scope="col">Category</th>
            <th scope="col">Religion</th>
            <th scope="col">Caste</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <!-- <th scope="col">Father Name</th>
                    <th scope="col">Father Phone</th>
                    <th scope="col">Mother Name</th>
                    <th scope="col">Mother Phone</th> -->
            <!-- <th scope="col">Father Occupation</th>
                    <th scope="col">Mother Occupation</th>
                    <th scope="col">Guardian Name</th>
                    <th scope="col">Guardian Phone</th>
                    <th scope="col">Guardian Email</th>
                    <th scope="col">Guardian Relation</th>
                    <th scope="col">Guardian Occupation</th>
                    <th scope="col">Guardian Addresses</th> -->
          </tr>
        </thead>
        <tbody>
          {%for student in students%}
          <tr>
            <th scope="row">{{student.admno}}</th>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.class_student}}</td>
            <td>{{student.section}}</td>
            <td>{{student.roll}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.category}}</td>
            <td>{{student.religion}}</td>
            <td>{{student.caste}}</td>
            <td>{{student.phno}}</td>
            <td>{{student.email}}</td>
            {% comment %} <td>{{student.fees}}</td> {% endcomment %}
            <!-- <td>{{student.fathername}}</td>
                        <td>{{student.fatherphone}}</td>
                        <td>{{student.mothername}}</td>
                        <td>{{student.motherphone}}</td> -->
            <!-- <td>{{student.caste}}</td> -->
          </tr>
          {%endfor%}
        </tbody>
      </table>

      <form method="post" action="invoice">{% csrf_token%}
        <label for="feestype" class="form-label">Choose Fee Type</label>
        <br/>
        {% comment %} {% if class_fees_results%}
          {%for class_fees_result in class_fees_results%}
            <input type="hidden" name="fees_value" id="fees_value" value="{{class_fees_result.fees_value}}"></input>
          {%endfor%} 
        {%endif%} {% endcomment %}
        {% comment %} <select name="feestype" id="feestype" class="form-control"> {% endcomment %}
          {% if class_fees_results%}
          {%for class_fees_result in class_fees_results%}
          
          <input type="checkbox" onchange="document.getElementById('collect_fees').disabled = !this.checked;" name="feestype" class="checkbox" style="margin:10px;" value={{class_fees_result.feestype}}>{{class_fees_result.feestype}} - INR
            {{class_fees_result.fees_value}}<br>
          {%endfor%}
          {%else%}
          {% comment %} <option value="0">No Fees</option> {% endcomment %}
          {%endif%}
        {% comment %} </select> {% endcomment %}
        <input type="hidden" name="admno" id="admno" value="{{admno}}"></input>
        <button type="submit" id="collect_fees" class="btn btn-primary" style="margin-top: 20px;">Collect</button>
      </form>

      <script>
      document.getElementById("collect_fees").disabled = true;

      </script>

      <!-- <form method="post" action="invoice">{% csrf_token%}
                <input type="hidden" name="admno" id="admno" value="{{admno}}"></input>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Print</button>
            </form> -->
      <!-- <a href="sendmail"><button type="submit" class="btn btn-primary" style="margin-top: 20px;">Email</button> -->
      </a>



      <!-- {{student.section}} -->
      <br />

      {%else%}
      <h1>No Search</h1>
      {%endif%}
    </div>

  </div>

</body>

</html>