{% extends 'Base.html' %}
{% block content %}
<style>
    .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}
.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
   -webkit-transition: -webkit-transform 1s ease-out;
   transition: transform 1s ease-out;
   transform-origin: center;
   transform-style: preserve-3D;
   ease-out;
   transition: transform 1s ease-out;
   transform-origin: center;
   transform-style: preserve-3D;
}
.close:hover {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
</style>
    {% load static %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Manage Folders</h4>
            </div>
        </div>
    </div>
       {% if 'New_Client_Req' in request.session  %}
             <div class="alert alert-danger" role="alert">
                {{ request.session.New_Client_Req }}
                <br>
                {{ request.session.New_Client_Code }}
             </div>
        {% endif %}

        {% block session_client_name %}
             {% if session_client_name %}
                 <div class="alert alert-danger" role="alert">
                     {{ session_client_name }} <br> {{ session_client_code }}
                </div>
             {% endif %}
        {% endblock %}
     <div class="row">
        <div class="card">
            <div class="card-body">
                <div id="create_folder" class="modalDialog">
                    <div>
                        <a href="{% url 'File_Management' %}" title="Close" class="close">X</a>
                        <center>
                            <u><h4 class="mb-sm-0 font-size-18" style="color: #d20f0f;text-align: center;">Create Folder</h4></u><br>
                            <form action="{% url 'File_Management' %}" method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                <div  class="col-md-6">
                                    <input type="text"  class="form-control" placeholder="Enter Folder Name.." name="folder_name" required>
                                </div>
                                <br>
                                <div  class="col-md-6">
                                    <textarea type="text"  class="form-control" placeholder="Enter Folder Description.." name="folder_description"></textarea>
                                </div>
                                <br>
                                <div align="right" class="col-md-6">
                                    <button class="btn btn-primary account-btn" type="submit" name="submit" >Create</button>
                                </div>
                            </form>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-4">
                        <input type="text" id="myInput" class="form-control" placeholder="Search..">
                    </div>
                    <div  class="col-md-8" >
                        <p align="right">
                            <a href="#create_folder">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> New Folder</button>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table  class="table text-fade table-bordered table-hover display nowrap margin-top-10 w-p100">
                        <thead>
                        <tr class="text-dark">
                            <th>SL#</th>
                            <th>FOLDER NAME</th>
                            <th>CREATED AT</th>
                            <th>FOLDER DESCRIPTION</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        {% ifequal data 'null' %}
                        <tr>
                            <td colspan="4"><center><h3>No data available in table</h3></center></td>
                        </tr>
                        {% else %}
                        {%for details in data %}
                        <tr>
                            <td>{{details.ID }}</td>
                            <td><a href="{% url 'Add_File' %}?folder_name={{details.FOLDER_NAME }}">{{details.FOLDER_NAME }}</a></td>
                            <td>{{details.CREATED_AT }}</td>
                            <td>{{details.DESCRIPTION }}</td>
                            {%endfor%}
                            {% endifequal %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
{% endblock %}