{% extends 'Base.html' %}
{% block content %}
   <!-- start page title -->
{% load static %}

<style>
    #see{
    float: right;
}
#see1{
    float: left;
}
#see2{
    float: right;
}
#see3{
    float: left;
}
</style>
<div class="row">
    <center><h4 style="color: red">{{month_sal}} Salary  Sheet</h4></center>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="box-header with-border">
                    </div>
									<!-- /.box-header -->
                    <div class="box-body">
                        <div class="invoice-title" style="background-color: #b2adaf">
                            <div class="mb-4">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="25">
                            </div>
                            <center>
                                <h4  style="text-transform:capitalize;">{{client}}</h4>
                                              {{address}}
                            </center>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table  class="table text-fade table-bordered table-hover display nowrap margin-top-10 w-p100">
                                <thead>
                                <tr class="text-dark">
                                    <th>SL#</th>
                                    <th>CODE</th>
                                    <th>DESTINATION</th>
                                    <th>GROSS SALARY</th>
                                    <th>DEDUCATION</th>
                                    <th>NET PAY</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for details in data %}
                                <tr>
                                    <td>{{details.id }}</td>
                                    <td>{{details.EMP_CODE }}</td>
                                    <td>{{details.DESIGNATION }}</td>
                                    <td>{{details.TOTAL_EARN }}</td>
                                    <td>{{details.TOTAL_DEDUCATION }}</td>
                                    <td>{{details.NET_PAY }}</td>
                                    {%endfor%}
                                </tr>
                                <tr>
                                    <td colspan="3">Total</td>
                                    <td>${{total_salry}}</td>
                                    <td>${{total_deducation}}</td>
                                    <td>${{total_net_pay}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="Bottom_txt_statement text-center my-3">
                                <h4 class="mb-0">This is Salary sheet for only one month</h4>
                            </div>
                            <div>
                                <hr id="see1" style="border-top: 2px dashed; width:165px">
                                <hr id="see" style="border-top: 2px dashed; width:200px">
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 id="see2">AUTHORIZE SIGNATURE</h4>
                        <h4 id="see3">HR SIGNATURE</h4>
                    </div>
                    <div class="d-print-none">
                        <div class="float-end">
                            <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1" ONCLICK="printDiv(printable_area)"><i class="fa fa-print"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
</div>
        <!-- end card -->
</div>

{% endblock %}